<div class="container-fluid">
  <div class="card">
    <div class="card-header">
      {{channel.name}}
    </div>
    <div class="card-body">
      <ul class="list-group" #autoScroller [scrollTop]="autoScroller.scrollHeight">
        <li *ngFor="let message of messages" class="list-item">
          {{message.text}}
        </li>
      </ul>

      <br/>


    </div>
    <div class="card-footer">
      <div class="form-group">
        <label for="message">Enter Message:</label>
        <input (keyup)="keyUp($event.key)" type="text" class="form-control" [(ngModel)]="message">
      </div>
      <button (click)="sendMessage()" class="btn btn-outline-success">Send Message</button>
    </div>
  </div>
</div>