.list-group{
    max-height: 350px;
    overflow-y:auto;
    -webkit-overflow-scrolling: touch;
}

.card-body {
  min-height: 300px
}

.row { margin: 0; padding: 0 }

.img {
  width: 85%;
  float: right;
  padding: 5px;
  border-radius: 10px;
}