
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!-- <a class="navbar-brand" href="#">Navbar</a> -->
  <a [routerLink]="['']" class="navbar-brand">Sockets - Messenger</a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="{{ this.routeName === '' ? 'nav-item active' : 'nav-item' }}">
        <a class="nav-link" [routerLink]="['/']">Home</a>
      </li>
      <!-- <li class="{{ this.routeName === 'chat' ? 'nav-item active' : 'nav-item' }}">
        <a class="nav-link" [routerLink]="['chat']">Chat</a>
      </li> -->
      <li class="{{ this.routeName === 'dashboard' ? 'nav-item active' : 'nav-item' }}">
        <a class="nav-link" [routerLink]="['dashboard']">Dashboard </a>
      </li>
      <!-- <li class="{{ this.routeName === '' ? 'nav-item active' : 'nav-item' }}">
        <a class="nav-link" [routerLink]="[]">Link</a>
      </li> -->
    </ul>
    <form *ngIf="loggedIn" class="form-inline my-2 my-lg-0">
      <label class="mr-sm-2">Logged in as {{ user.username }}</label>
      <button class="btn btn-outline-primary my-2 my-sm-0" (click)='logOut()'>Logout</button>
    </form>
  </div>
</nav>


