

<div class="row">
  <div class="col-md-3">
    <h4>Users:</h4>
    <p class="lead" *ngIf="channel.users.length === 0">No Users In Channel</p>
    <li class="list-group-item" *ngFor="let user of channel.users">
      <!-- TODO: Guard this -->
      <p class="lead">{{user.username}}</p>
      <button class="btn btn-outline-danger" (click)="removeUser(user.id)">Remove User From Channel</button>
    </li>
    <br>
  </div>
  <div class="col-md-9">
    <app-chat [channel]="channel"></app-chat>
  </div>
  <div class="row">
    <div class="col-12">
      <button class="btn btn-outline-info" (click)="backToGroup(group.id)">Back To {{group.name}}</button>
    </div>
  </div>
</div>


<br>
<!-- TODO: Guard this -->
<div class="card">
  <div class="card-header">Manage Users</div>
  <div class="card-body">
    <h6 class="card-subtitle" *ngIf="this.otherUsers.length === 0">All users in {{group.name}} are in this channel</h6>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let user of otherUsers">
        {{user.username}}
        <button class="btn btn-outline-info" (click)="addUser(user.id)">Add To Channel</button>
      </li>
    </ul>
  </div>
</div>