<div class="container container-fluid">
  <div class="row">
    <div class="col-md-6">
      <h3>Groups</h3>
      <dl>
        <dt>
          Currently there are <span class="badge badge-primary">{{groups == null ? 0 : groups.length}}</span> groups.
        </dt>
      </dl>

      <div class="accordion scrollable" id="accordion">
        <app-dashboard-group *ngFor="let g of this.groups" (emitter)="removeGroup($event)" [group]="g"></app-dashboard-group>
      </div>

      <br>
      <div *ngIf="permissions.hasPermission('create>group')">
        <form (submit)="createGroup($event)">
          <h4>Create Group</h4>
          <div class="form-group">
            <input type="text" class="form-control" [(ngModel)]='form_groupName' name="name" placeholder="Group Name">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" [(ngModel)]='form_groupDescription' name="channel" placeholder="Group Description">
          </div>
          <input type="submit" class="btn btn-primary" value="Create Group">
        </form>
      </div>
    </div>

    <div class="col-md-6">
      <h3>Users</h3>
      <dl>
        <dt>
          Currently there are <span class="badge badge-primary">{{users == null ? 0 : users.length}}</span> users.
        </dt>
      </dl>

      <div class="accordion scrollable" id="accordion">
        <app-dashboard-user *ngFor="let u of this.users" (emitter)="removeUser($event)" [user]="u"></app-dashboard-user>
      </div>


      <br>
      <div *ngIf="permissions.hasPermission('delete>user')">
        <form (submit)="createUser($event)">
          <h4>Create User</h4>
          <div class="form-group">
            <input type="text" class="form-control" [(ngModel)]='form_username' name="username" placeholder="Username">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" [(ngModel)]='form_email' name="email" placeholder="email">
          </div>
          <div class="form-group">
              <input type="password" class="form-control" [(ngModel)]='form_password' name="password" placeholder="password">
            </div>
          <input type="submit" class="btn btn-primary" value="Create User">
        </form>
      </div>
    </div>
  </div>
</div>
