<div class="container container-fluid">
  <div class="row">
    <div class="col-md-6">
      <h3>Manage Groups</h3>
      <dl>
        <dt>
          Currently there are <span class="badge badge-primary">{{groups == null ? 0 : groups.length}}</span> groups.
        </dt>
      </dl>

      <div class="accordion scrollable" id="accordion">
        <app-dashboard-group *ngFor="let g of this.groups" [group]="g"></app-dashboard-group>
      </div>

    </div>
    <div class="col-md-6">
      <h3>Manage Users</h3>
      <dl>
        <dt>
          Currently there are <span class="badge badge-primary">{{users == null ? 0 : users.length}}</span> users.
        </dt>
      </dl>

      <div class="accordion scrollable" id="accordion">
        <app-dashboard-user *ngFor="let u of this.users" [user]="u"></app-dashboard-user>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-6">
      <h3>Manage Admins</h3>
      <dl>
        <dt>Description lists</dt>
      </dl>
    </div>
    <!-- <div class="col-md-6">
      <h3>
        h3. Lorem ipsum dolor sit amet.
      </h3>
      <dl>
        <dt>
          Description lists
        </dt>
      </dl>
    </div> -->
  </div>
</div>






<!-- <div id="accordion">
    
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Collapsible Group Item #2
          </button>
        </h5>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
        <div class="card-body">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingThree">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Collapsible Group Item #3
          </button>
        </h5>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
        <div class="card-body">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
        </div>
      </div>
    </div>
  </div> -->